aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiosignal==1.3.2
anyio==4.9.0
asgiref==3.8.1
attrs==25.3.0
bidict==0.23.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Django==5.1.7
django-htmx==1.23.0
django-humanize==0.1.2
django-widget-tweaks==1.5.0
docutils==0.21.2
frozenlist==1.5.0
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
humanize==4.12.1
idna==3.10
ifaddr==0.2.0
itsdangerous==2.2.0
Jinja2==3.1.6
markdown2==2.5.3
MarkupSafe==3.0.2
multidict==6.2.0
orjson==3.10.15
propcache==0.3.0
pscript==0.7.7
pydantic==1.10.21
Pygments==2.19.1
python-dotenv==1.0.1
python-multipart==0.0.20
pywin32==310
PyYAML==6.0.2
requests==2.32.3
shortuuid==1.0.13
sniffio==1.3.1
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
uvicorn==0.34.0
vbuild==0.8.2
watchfiles==1.0.4
websockets==15.0.1
wsproto==1.2.0
yarl==1.18.3
